.footer {

		&__container {
			padding-top: 51px;
			padding-bottom: 54px;
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			grid-template-areas:
				'category social contacts'
				'copyright . development';
			gap: 26px 20px;
			border-top: 1px solid $light-gray;

			@include laptop {
				grid-template-columns: 1fr 1fr 1fr;
				padding-top: 31px;
			}

			@include tablet {
				grid-template-columns: 1fr 2fr 1fr;
				gap-row: 17px;
				padding-top: 25px;
				padding-bottom: 16px;
			}

			@include mobile {
				grid-template-columns: 1fr max-content;
				grid-template-areas:
					'category social'
					'contacts contacts'
					'development development'
					'copyright copyright';
					gap: 24px;
					padding-top: 17px;
			}
		}

		&__item {

			&--category {
				grid-area: category;
			}

			&--social {
				grid-area: social;
				justify-self: center;
			}

			&--contacts {
				grid-area: contacts;
			}

			&--copyright {
				grid-area: copyright;
				align-self: end;
			}

			&--development {
				grid-area: development;
			}
		}

		&__link {
			transition: color .3s ease-in-out;

			&:hover {
				color: $gray;
			}
		}
}