.footer-social {
  &__title {
    margin-bottom: 16px;

    @include mobile {
      margin-bottom: 8px;
    }
  }

  &__subtitle {
    font-size: 14px;
		line-height: 17px;
    margin-bottom: 20px;

    @include tablet {
      font-size: 12px;
			line-height: 15px;
      margin-bottom: 16px;
    }
  }

  &__list {
    display: flex;
		align-items: center;
    gap: 10px;
  }

  &__link--tg:hover {
    color: #0077ff;
  }

  &__link--vk:hover {
    color: #0077ff;
  }
}