.goods {

	&__title {
		padding-bottom: 24px;
		font-weight: 400;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		text-transform: uppercase;
		border-bottom: 1px solid $light-gray;

		@include tablet {
			padding-bottom: 16px;
			font-size: 24px;
			line-height: 29px;
		}

		@include mobile {
			padding-bottom: 9px;
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 280px);
		justify-content: space-evenly;
		gap: 40px 20px;
		padding-top: 40px;

		@include tablet {
			grid-template-columns: repeat(auto-fill, 140px);
			row-gap: 24px;
			padding-top: 24px;
		}

		@include mobile {
			gap: 16px 10px;
			padding-top: 16px;
		}
	}
}
