.goods {
  &__title {
		padding-bottom: 25px;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $light-gray;

    @include tablet {
			padding-bottom: 16px;
      font-size: 24px;
      line-height: 29px;
    }

    @include mobile {
			padding-bottom: 9px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__warning {
		padding: 20px 0;
    text-align: center;
  }

  &__list {
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(auto-fill, 280px);
    justify-content: space-evenly;
		padding-top: 40px;

    @include tablet {
      row-gap: 24px;
      grid-template-columns: repeat(auto-fill, 140px);
			padding-top: 24px;
    }

    @include mobile {
      gap: 16px 10px;
      padding-top: 16px;
    }
  }
}