.hero {margin-bottom: 80px;
	background-color: $dark-gray;
	color: $white-color;

	@include tablet {
		margin-bottom: 64px;
	}

	@include mobile {
		margin-bottom: 24px;
	}

	&--women {
		background-image: url('../img/bg-woman.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: background-image .3s ease-in-out;

		@include laptop {
			background-image: url('../img/bg-laptop-woman.jpg');
		}

		@include tablet {
			background-image: url('../img/bg-tablet-woman.jpg');
		}

		@include mobile {
			background-image: url('../img/bg-mobile-woman.jpg');
		}
	}

	&--men {
		background-image: url('../img/bg-man.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		transition: background-image .3s ease-in-out;

		@include laptop {
			background-image: url('../img/bg-laptop-man.jpg');
		}

		@include tablet {
			background-image: url('../img/bg-tablet-man.jpg');
		}

		@include mobile {
			background-image: url('../img/bg-mobile-man.jpg');
		}
	}

	&__content {
		max-width: 610px;
		padding: 172px 0 86px;

		@include tablet {
			max-width: 410px;
			padding: 156px 0 50px;
		}

		@include mobile {
			max-width: 360px;
			padding: 76px 0 24px;
		}
	}

	&__title {
		margin-bottom: 40px;
		font-weight: 400;
		font-size: 44px;
		line-height: 120%;
		text-transform: uppercase;

		@include tablet {
			margin-bottom: 24px;
			font-size: 30px;
		}

		@include mobile {
			margin-bottom: 16px;
			font-size: 20px;
		}
	}

	&__link {
		display: inline-block;
		padding: 14px 40px;
		font-weight: 700;
		font-size: 14px;
		line-height: 17px;
		text-transform: uppercase;
		background-color: transparent;
		border: 1px solid $white-color;
		transition: background-color .3s ease-in-out, color .3s ease-in-out;

		@include tablet {
			font-size: 10px;
			line-height: 12px;
			padding: 12px 40px;
		}

		&:hover {
			background-color: $dark-gray;
			border-color: $dark-gray;
		}
	}
}